.header{
  padding: 10px;
}
/* .navbar a{
  /* align-content: center;
  width: 20%;
} */
/*
.navbar li{
   float: left;
  padding: 12px;
  /* color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc..
  text-align: center; /* If you want the text to be centered
} */
