/* .container{
   background-color:  rgb(248, 246, 246);
} */
.application{
  background-image: url("../assets/images/KOP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  background-color: rgb(78, 69, 69, 0.5);
}
