
.some-page-wrapper {
  margin: 15px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.PremierLeagues {
  background-color: whitesmoke;
  height: 150px;
}


.liftingCup {
  /* background-color: green; */
  height: 150px;
}

.ClubName {
  display: inline;
    float: none;
}
