
<div class="some-page-wrapper">
  <!-- Start Row 1 -->
  <!-- <button (click)="GetSingleEnglishTeam('6096b14fbf7dc0bb5114f1c5')">GetAllTeams</button> -->
  <!-- <button (click)="getAllEnglishTeams()">GetAllTeams</button> -->
  <div class="row">
    <div class="column">
      <div class="PremierLeagues" >
        <div *ngIf="teamenglish" class="Clubname">
          <p>
            {{teamenglish.ClubName}}
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="liftingCup">
        <img
          src="../../assets/images/premierleague.jpg"
          alt="BPL"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
  <!-- End Row 1 -->
  <!-- Start Row 2 -->
  <div class="row">
    <div class="column">
      <div class="liftingCup">
        <img
          src="../../assets/images/premierleague.jpg"
          alt="BPL"
          width="100%"
          height="100%"
        />
      </div>
    </div>
    <div class="column">
      <div *ngIf="teamenglish" class="PremierLeagues">
        <h3>
          League Titles: {{teamenglish.Honours.LeagueTitles}}
        </h3>
        {{teamenglish.Honours.LeagueYearWon}}
      </div>
    </div>
  </div>
  <!-- End Row 2 -->
  <!-- Start Row 3 -->
  <div class="row">
    <div class="column">
      <div class="PremierLeagues">
        <h3>
          Champions League Titles: {{teamenglish.Honours.EUCup}}
        </h3>
        {{teamenglish.Honours.EUCupYearWon}}
      </div>
    </div>
    <div class="column">
      <div class="liftingCup">
        <img
          src="../../assets/images/premierleague.jpg"
          alt="BPL"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
  <!-- End Row 3 -->
</div>
