
<div class="some-page-wrapper">
  <!-- Start Row 1 -->
  <button (click)="GetSingleEnglishTeam('609993fc87ff34b58723ce9e')">GetAllTeams</button>
  <!-- <button (click)="getAllEnglishTeams()">GetAllTeams</button> -->
  <div class="row">
    <div class="column">
      <div class="PremierLeagues" >
        <div class="Clubname">
          <H1>
            {{teamenglish.ClubName}}
          </H1>
        </div>

      </div>
    </div>
    <div class="column">
      <div class="liftingCup">
        <img
          src="../../assets/images/premierleague.jpg"
          alt="BPL"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
  <!-- End Row 1 -->
  <!-- Start Row 2 -->
  <div class="row">
    <div class="column">
      <div class="liftingCup">
        <img
          src="../../assets/images/premierleague.jpg"
          alt="BPL"
          width="100%"
          height="100%"
        />
      </div>
    </div>
    <div class="column">
      <div class="PremierLeagues">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, suscipit
        nulla error nostrum architecto repellat quis laudantium corporis, dolor
        ad omnis? Atque culpa ullam dignissimos ut sint, reiciendis cumque
        dolore!
      </div>
    </div>
  </div>
  <!-- End Row 2 -->
  <!-- Start Row 3 -->
  <div class="row">
    <div class="column">
      <div class="PremierLeagues">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, suscipit
        nulla error nostrum architecto repellat quis laudantium corporis, dolor
        ad omnis? Atque culpa ullam dignissimos ut sint, reiciendis cumque
        dolore!
      </div>
    </div>
    <div class="column">
      <div class="liftingCup">
        <img
          src="../../assets/images/premierleague.jpg"
          alt="BPL"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
  <!-- End Row 3 -->
</div>
